<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokédex</title>
    <style>
          
    </style>
</head>
<body>
    <form action = "http://127.0.0.1:5000/" method="POST">
            <input type = 'text' name = 'name'>
            <input type="submit" value="Search">
            <a href="http://127.0.0.1:5000/vr"><input type="button" value="Image Search"></a>
        </form>
        
    <p><b>Name:</b></p>
    <p><b>Type:</b> </p>
    <p><b>HP:</b></p>
    <p><b>Attack:</b></p>
    <p><b>Sp.Atk:</b></p>
    <p><b>Defense:</b></p>
    <p><b>Sp.Defense:</b></p>
    <p><b>Speed:</b></p>

    
</body>
</html>